header{
    display: flex;
    justify-content: center;
    background-color: red;
    padding: 20px;
    color: white;
}

main{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
}

.box{
    margin: 15px;
    padding: 10px;
    box-shadow: 3px 3px 3px gray;
    border-radius: 3px; 
}
.box-header{
    background-color: blue;
    color: white;
}
span{
    color: blue;
}
}